<f:layout name="Default" />

<f:section name="main" >
	<div class="container">
		<f:flashMessages />
		<div class="panel-info">
			<div class="panel panel-heading">
				<h2 align="center">The Cars</h2>
			</div>
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="alert alert-info">
						<f:form action="filter" name="filterCar" object="{carFilter}">
							<h3>Get Your Car</h3><hr/>
						    <f:render partial="Cars/FilterCar" arguments="{_all}" />
							<f:form.hidden property="pageno" id="pageno" value="" />
							<f:form.submit name="submit" value="Search" class="btn btn-info" style="width:100%" />
						</f:form>
					</div>
				</div>
				<div class="col-md-8">
					<f:if condition="{filterData}">
						<f:then>
							<f:render partial="Cars/Paginate" arguments="{_all}" />
							<f:for each="{filterData}" as="car">
								<div class="alert alert-info post-container">
									<div class="post-thumb">
								    	<div id="owlCarouselSlider{car.uid}" class="carousel slide" data-ride="carousel">
											<!-- Wrapper for slides -->
											<div class="carousel-inner" role="listbox">
												<f:for each="{car.image}" as='file' iteration='i'>
												    <div class="item {f:if(condition:'{i.isFirst}', then:'active')}">
												    	<f:image image="{file}" height="185c" width="299c" />
												    </div>
												</f:for>
											</div>
											
											<f:if condition="{car.image->f:count()}>1">
												<!-- Left and right controls -->
												<a class="left carousel-control" href="#owlCarouselSlider{car.uid}" role="button" data-slide="prev">
												<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
												<span class="sr-only">Previous</span>
												</a>
												<a class="right carousel-control" href="#owlCarouselSlider{car.uid}" role="button" data-slide="next">
												<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
												<span class="sr-only">Next</span>
												</a>
											</f:if>
										</div>
								    </div>
								    <div class="post-content">
								        <h4 class="post-title"><b>{car.name}</b></h4>
								        <table style="border:dotted;width:100%">
								        	<tr>
								        		<td><b>Company : </b></td>
								        		<td>
								        			{car.company.name}
								        		</td>
								        		<td><b>Class : </b></td>
								        		<td>
								        			<f:for each="{car.carClass}" as="cls" key="keyOfVariable">
								        				{cls.title}
									        		</f:for>
								        		</td>
								        	</tr>
								        	<tr>
								        		<td><b>price : </b></td>
								        		<td>{car.price} Lacs</td>
								        		<td><b>Fuel Type : </b></td>
								        		<td>
								        			<f:for each="{car.fuelType}" as="fuelType" iteration="ir">
														{fuelType.title}{f:if(condition:'{ir.isLast}', then:'', else:',')}
										        	</f:for><br/>
								        		</td>
								        	</tr>
								        </table><br/>
								        <f:format.html>{car.description}</f:format.html>
								    </div>
								</div>
							    <hr/>
							</f:for>
							<f:render partial="Cars/Paginate" arguments="{_all}" />
						</f:then>
						<f:else>
							<div class="alert alert-warning" align="center" style="margin-top: 25%">
								<strong><h3>Oops!</h3></strong>
								<p>There is no car available in your choice. Click <f:link.action action="list">Here</f:link.action> for all available cars.
								</p>
							</div>
						</f:else>
					</f:if>
				</div>
			</div>
		</div>
	</div>
</f:section>