<link href="{f:uri.resource(path:'css/bootstrap.min.css')}" rel="stylesheet" />
<link href="{f:uri.resource(path:'css/bootstrap-theme.css')}" rel="stylesheet" />
<link href="{f:uri.resource(path:'css/font-awesome.css')}" rel="stylesheet" />
<link href="{f:uri.resource(path:'css/jquery-ui.css')}" rel="stylesheet" />

<link href="{f:uri.resource(path:'css/style.css')}" rel="stylesheet" />
<script src="{f:uri.resource(path:'Js/jquery.js')}"></script>

<script src="{f:uri.resource(path:'JavaScript/slider.js')}"></script>
<div class="tx-cars">
	<f:render section="main" />
</div>
<script src="{f:uri.resource(path:'Js/bootstrap.min.js')}"></script>
<script src="{f:uri.resource(path:'Js/jquery-ui.js')}"></script>